@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #14191A;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

.left-nav-style {
    display: flex;
    margin-left: 50px;
}

.logo {
    color: #8A58D4;
    font-family: 'Nosifer', sans-serif;
}

.search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 50px;
}

.search {
    position: relative;
    width: 100%;
    border-radius: 13px;
    border-style: none;
    font-size: 20px;
}

.search::placeholder {
    padding-left: 12px;
}

.search-icon {
    color: #000;
    position: absolute;
    font-size: 15px;
    margin-left: 14.7%;
}

.nav-menu {
    margin-right: 70px;
    color: #fff;
    font-size: 18px;
}